.main_div_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_div_contact__name, .main_div_contact__email, .main_div_contact__message {
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin: 10px;
}

.main_div_contact__submit {
    display: flex;
    justify-content: center;
    margin: 10px;
}

button {
    padding: 8px;
    border-color: white;
    border-radius: 5px;
    background: linear-gradient(to right, #3498db, #2980b9, #0992ed);
    color: white;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
}

button:hover {
    background: linear-gradient(to right, #1abc9c, #16a085, #2ecc71);
    cursor: pointer;
}