i {
    background-image: var(--gradientePrincipal);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

input:focus {
    background: var(--gradientePrincipal);
}

input:checked {
    background: var(--gradientePrincipal);
}

#button-addon1 {
    background: var(--gradientePrincipal);
}

#button-addon1:hover {
    background: var(--gradienteMasClaro);
}

.h2Events {
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    margin: 15px;
}