input:focus {
    background: var(--gradientePrincipal);
}

input:checked {
    background: var(--gradientePrincipal);
}

#button-addon1 {
    background: var(--gradientePrincipal);
}

#button-addon1:hover {
    background: var(--gradienteMasOscuro);
}

/* Media Queries */

